:root[tabsintitlebar] {
    --uc-toolbar-height: 40px;
}

:root[tabsintitlebar][uidensity="compact"] {
    --uc-toolbar-height: 32px
}

#TabsToolbar {
    visibility: collapse !important
}

:root[sizemode="fullscreen"] #TabsToolbar> :is(#window-controls, .titlebar-buttonbox-container) {
    visibility: visible !important;
    z-index: 2;
}

:root:not([inFullscreen]) #nav-bar {
    margin-top: calc(0px - var(--uc-toolbar-height, 0px));
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] {
    min-height: unset !important;
    height: var(--uc-toolbar-height, 0px) !important;
    position: relative;
}

#toolbar-menubar[autohide="false"] {
    margin-bottom: var(--uc-toolbar-height, 0px)
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] #main-menubar {
    -moz-box-flex: 1;
    -moz-box-align: stretch;
    background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-right: 30px solid transparent;
    border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px) 20 / 30px
}

#toolbar-menubar:not([inactive]) {
    z-index: 2
}

#toolbar-menubar[autohide="true"][inactive]>#menubar-items {
    opacity: 0;
    pointer-events: none;
    margin-left: var(--uc-window-drag-space-pre, 0px)
}

:root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 138px;
    /* Space reserved for window controls (Win10) */
    /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
    --uc-window-drag-space-pre: 30px;
    /* left side*/
    --uc-window-drag-space-post: 30px;
    /* right side*/
}

:root:is([tabsintitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
    --uc-window-drag-space-pre: 0px;
    /* Remove pre space */
}

@media (-moz-platform: windows-win7),
(-moz-platform: windows-win8),
(-moz-os-version: windows-win7),
(-moz-os-version: windows-win8) {
    :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
        --uc-window-control-width: 105px;
    }
}

@media (-moz-gtk-csd-available) {
    :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
        --uc-window-control-width: 84px;
    }
}

/* macOS settings are further below */
.titlebar-buttonbox,
#window-controls {
    color: var(--toolbar-color)
}

:root[sizemode="fullscreen"] .titlebar-buttonbox-container {
    display: none
}

:root[sizemode="fullscreen"] #navigator-toolbox {
    position: relative;
}

:root[sizemode="fullscreen"] #TabsToolbar>.titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    height: 40px;
}

:root[sizemode="fullscreen"] #TabsToolbar>.titlebar-buttonbox-container:last-child,
:root[uidensity="compact"][sizemode="fullscreen"] #window-controls {
    height: 32px
}

#nav-bar {
    border-inline: var(--uc-window-drag-space-pre, 0px) solid var(--toolbar-bgcolor);
    border-inline-style: solid !important;
    border-right-width: calc(var(--uc-window-control-width, 0px) + var(--uc-window-drag-space-post, 0px));
}

/* Hide the "Tree Style Tab" header at the top of the sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}

/* Bookmark bar fixes */
#PersonalToolbar {
    --uc-bm-height: 20px;
    /* Might need to adjust if the toolbar has other buttons */
    --uc-bm-padding: 7px;
    /* Vertical padding to be applied to bookmarks */
    --uc-autohide-toolbar-delay: 600ms;
    /* The toolbar is hidden after 0.6s */

    /* 0deg = "show" ; 90deg = "hide" ;  Set the following to control when bookmarks are shown */
    --uc-autohide-toolbar-focus-rotation: 0deg;
    /* urlbar is focused */
    --uc-autohide-toolbar-hover-rotation: 0deg;
    /* cursor is over the toolbar area */
}

:root[uidensity="compact"] #PersonalToolbar {
    --uc-bm-padding: 1px;
}

:root[uidensity="touch"] #PersonalToolbar {
    --uc-bm-padding: 7px
}

#PersonalToolbar:not([customizing]) {
    position: relative;
    margin-bottom: calc(0px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
    transform: rotateX(90deg);
    transform-origin: top;
    transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
    z-index: 1;
    /* The following properties should allow the themes with trasparent toolbars to work */
    background-color: transparent !important;
    background-repeat: no-repeat, no-repeat, var(--lwt-background-tiling);
    --uc-bg-y: calc(-2 * (var(--tab-block-margin) + var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)) - var(--tab-min-height) - 16px - var(--bookmark-block-padding));
    background-position: top left, top left, var(--lwt-background-alignment, top left);
    background-position-y: top, top, var(--uc-bg-y), var(--uc-bg-y), var(--uc-bg-y);
    background-image: var(--toolbar-bgimage), linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, var(--lwt-additional-images)) !important;
}

#PlacesToolbarItems>.bookmark-item,
#OtherBookmarks,
#PersonalToolbar>#import-button {
    padding-block: var(--uc-bm-padding) !important;
}

#nav-bar:focus-within+#PersonalToolbar {
    transition-delay: 100ms !important;
    transform: rotateX(var(--uc-autohide-toolbar-focus-rotation, 0));
}

#navigator-toolbox:hover>#PersonalToolbar {
    transition-delay: 100ms !important;
    transform: rotateX(var(--uc-autohide-toolbar-hover-rotation, 0));
}

#navigator-toolbox:hover>#nav-bar:focus-within+#PersonalToolbar {
    transform: rotateX(0);
}
